header
  h1
    text-align center
footer
  text-align center
.sidebar
  background-color grey
.content
  background-color lightgrey
  padding 10px
#error_area
  color red
#success_area
  color green
.status_area
  font-weight bold
  display none
