doctype
html
  head
    title #{title}
    link(rel="stylesheet", href="/style/skeleton/normalize.css")
    link(rel="stylesheet", href="/style/skeleton/skeleton.css")
    link(rel='stylesheet', href='/style/custom.css')
    link(rel="shortcut icon", type="image/x-icon", href="/style/favicon.ico")
  body
    header
      h1 #{title}
    .container
      .row
        .three.columns.sidebar
          block sidebar
        .nine.columns.content
          block content

    footer
      p Powered by a unicorn
      script(
        type='text/javascript'
        src='/js/main.js'
      )
